<!-- GÖRÜNTÜÜ -->
<!-- Welcome to {{title}}
Hello {{user}}

{{product.productName}}
{{product1.productName}}
{{product2.productName}}
{{product3.productName}}

<ul>
  <li *ngFor="let product of products">{{product.productName}}</li>  *ngFor= angular için direktif demektir.   
 
</ul>  -->
<div class="container">
  <app-navi></app-navi>
  <div class="row">
    <div class="col-md-3">
      <app-category></app-category>
    </div>
    <div class="col-md-9">
      <app-product></app-product>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>
